/* CONFIGURAÇÃO GERAL */

* {
    box-sizing: border-box;
}


/* CABEÇALHO */

.cabecalho {
    width: 100%;
    height: 80px;
    padding: 0 7%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: white;

    /* ESTILO MAIS PESADO */
    border: 4px solid #315c19;
    border-radius: 14px;

    position: sticky;
    top: 0;
    z-index: 1000;

    box-shadow: 0 5px 0 #315c19;
}


/* LOGO */

.logo {
    display: flex;
    align-items: center;
    gap: 10px;

    text-decoration: none;
    color: #164b35;
}

.logo-icone {
    font-size: 30px;
}

.logo div {
    display: flex;
    flex-direction: column;
}

.logo strong {
    font-size: 21px;
    color: #146c43;
}

.logo small {
    font-size: 11px;
    color: #146c43;
}


/* MENU */

.menu {
    display: flex;
    align-items: center;
    gap: 30px;
}

.menu a {
    color: #2d851b;
    text-decoration: none;

    font-size: 15px;
    font-weight: 500;

    transition: 0.3s;
}

.menu a:hover {
    color: #159447;
}


/* RESPONSIVIDADE */

@media (max-width: 750px) {

    .cabecalho {
        height: auto;
        padding: 15px 5%;

        flex-direction: column;
        gap: 15px;
    }

    .menu {
        gap: 18px;

        flex-wrap: wrap;
        justify-content: center;
    }

    .menu a {
        font-size: 13px;
    }
}
